<!DOCTYPE html>
<html>
<title>Kushwaha</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
<style>
div {
  width: 320px;
  padding-right: 10px;
  border: 5px solid gray;
  margin: 0;
}
</style>
</head>
<body>
<br>
<div>
    Upload new images
    {{ object.topic }}
    {{ object.image.url }}
    <form action="/upload/">
        <button type="submit">Upload</button>
    </form>
</div>
<form action="newcategory/">
    <button type="submit">New Category</button>
</form>
<br>
<br>
<div>
     <form method="post">
        {% csrf_token %}
        <label for= "cat">Select Category</label>
        <select name = 'category' required id="cat" >
            <option disabled selected value="none"> select Category </option>
            {% if topics %}
                {% for i in topics %}
                    {{ i.name }}
                    <option value={{ i.name }}>{{ i.name }}</option>
                {% endfor %}
            {% endif %}
        </select>
         <br>
         <label for= "dl">Delete</label>
         <input id ="dl" type="radio" value = "delete" name = 'op'>
         <label for= "sr">Search</label>
         <input id ="sr" type="radio" value = "search" name = 'op' checked = "checked">
        <button style ="width:30%;" type="submit">Go</button>

 </form>

</div>
<br>

{% for i in object %}

    {% if i.topic == searched %}
    {% if i.image %}
        <img src = {{ i.image.url }} width="50%" >
    {% endif %}
    <br>
    <div>
        {% if i.link %}
            <img src = {{ i.link }} width="50%">
        {% endif %}
    <br>

    topic = {{ i.topic }} || Filename = {{ i.name }}

    <form action="upload/delete/{{ i.id }}">
        <button type="submit">Delete</button>
    </form>
    </div>
    <br>
    {% endif %}
{% endfor %}


</body>
</html>