<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <style>
div {
	width: 350px;
	padding-right: 10px;
	border: 2px solid black;
	margin: 0;
}
body {
	font-family: georgia,garamond,serif;
	font-size-adjust: 0.61;
	background: aliceblue;
}
button {
	color: #052e42;
	border: 2px solid #2774b7;
	height: 30px;
}

button:active{
    color:white;
    background:black;
}
.upload {
	color: #052e42;
	border: 2px solid red;
	height: 50px;
}
.select {
	background: #8e94ec;
	border: 1px azure;
	align-content: center;
	height: 30px;
}


</style>
</head>
<body>
<form action="/">
    <button type="submit">Go Back</button>
</form>
Upload using links
<div>
       <form method="post" >
        {% csrf_token %}
        <input type="text" autocomplete="off" placeholder="Enter Image Name" name="filename" >
        <br>
        <br>
        <label for= "cat">Select Category</label>
        <select class="select" name = 'category' required id="cat" >
            <option disabled selected value="none"> select Category </option>
            {% if topics %}
                {% for i in topics %}
                    {{ i.name }}
                    <option value={{ i.name }}>{{ i.name }}</option>
                {% endfor %}
            {% endif %}
        </select>
        <br>
        <label for= "lk">Link</label>
        <input id = 'lk' autocomplete="off" type="text" placeholder="Paste Link" name="linkimage" required>
        <br>
        <button  class="upload" style ="width:30%;" type="submit">Submit</button>
 </form>
    {% if message == 1 %}
        {% include 'success.html' %}
            {% block contents %}
            {% endblock %}
    {% endif %}

</body>
</html>